/* 
font-family: 'Covered By Your Grace', cursive;
font-family: 'Inknut Antiqua', serif;
font-family: 'Lustria', serif;
font-family: 'Petit Formal Script', cursive; 
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.pagewrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 100vh;

}

.bottomside {
    width: 15%;
    background-color: lightgray;
    display: flex;
    flex-flow: wrap column;

}

.topside {
    width: 85%;
    background-color: darkgray;
}

#certificate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    width: 1089px;
    height: 844px;
}
/* 
.certificate-internet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 1089px;
    height: 844px;
    background-image: url(/images/download\ \(1\).png);
}

.certificate-skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    width: 1089px;
    height: 844px;
    background-image: url(/images/skill-image.png);
}

.certificate-comedian {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    width: 1089px;
    height: 844px;
    background-image: url(/images/download\ \(2\).png);
} */


.certificate-top {
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.certificate-mid {
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificate-mid>span {
    font-size: 35px;
}

.certificate-bot {
    width: 900px;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-large;
}
/* 
.certificate-image-internet {
    width: 218px;
    height: 214px;
    background-image: url(/images/internet-dino.png);
    background-size: contain;
}

.certificate-image-comedian {
    width: 212px;
    height: 214px;
    background-image: url(/images/skill-medal.png);
    background-size: contain;
}

.certificate-image-skill {
    width: 195px;
    height: 214px;
    background-image: url(/images/oops-real-skill-image.png);
    background-size: contain;
} */

.certificate-bot-date {
    font-size: large;
    width: 177.3px;
}

.certificate-bot-sign,
.certificate-bot-date {
    display: flex;
    justify-content: center;
}

@media print {
 
    

}