*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.pagewrapper{
    display: flex;
    flex-direction: row;
    height: 100vh;
    
}

.leftside{
    width:15%;
    background-color: lightgray;
    display: flex;
    flex-flow:wrap column;

}

.rightside{
    width: 85%;
    background-color: darkgray;
}

#internet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    width: 1373px;
    height:1062px;
    background-image: url(/images/internet-v2.png);
}

.internet-top{
font-size: 30px;
display: flex;
justify-content: center;
}

.internet-mid{
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.internet-mid>span{
    font-size: 35px;
}
.internet-bot{
    width: 1000px;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-around;
font-size: x-large;
}

.dino-image{
    width:418px;
    height:414px;
}

.internet-bot-date{
    width:177.3px;
}

.internet-bot-sign, .internet-bot-date{
    display: flex;
    justify-content: center;
    background-image: url(/images/line.png);
    background-size: 207px;
    background-position: 188px 3px;

}